@import url('https://fonts.googleapis.com/css2?family=Bevan:ital@0;1&family=Manufacturing+Consent&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Beau+Rivage&family=Marck+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: "Roboto", sans-serif;
    font-weight: 500 !important;
}
.bevan, .title{
      font-family: "Bevan", serif !important;
        font-weight: 400;

}
.bevan{
  position: absolute !important;
  top: 35% !important;
  left: 31% !important;
      font-family: "Bevan", serif !important;
}
@media  (max-width: 767px){
  .bevan{
      top: 25% !important;
     left: 25% !important;

  }
  .menuBar{
    display : block !important;
  }
  .menuList{
    background-color: rgb(145, 103, 81);
    color: #fff;
    position: absolute;
    right: 0px;
    z-index: 1;
    top: 0px;
    height: 100%;
    padding: 30px 170px 0px 10px;
  }
  .menuList li{
    padding: 10px 0px;
  }
  .menuDesk{
    display: none !important;
  }
}
.menuBar{
  display: none;
}
.radient{
  font-family: "Marck Script", cursive !important;

}
.footer ul li a, .footer p{
  font-size: 18px;
  padding-bottom: 10px;
}
.footer ul li{
  padding-bottom: 10px;
}
.procard{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.btnCart{
  cursor: pointer;
  background-color: rgb(99, 55, 65);
  color: white;

}
.btnCart:hover{
background-color: white;
color: rgb(99, 55, 65);
}
